/*
	Button 기본 스타일
*/
.button {
	text-align: center;
	border: none;
	cursor: pointer;
	outline: inherit;
	background-color: var(--color-background);
	color: var(--color-text);
	box-sizing: border-box;
	font-weight: var(--font-weight-light);
}

/*
	Button 크기
*/
.button--size-x-large {
	padding: calc(var(--spacing-medium) / 2) var(--spacing-medium);
	font-size: var(--font-size-extra-large);
	border-radius: var(--border-radius-extra-small);
}
.button--size-large {
	padding: calc(var(--spacing-small) / 2) var(--spacing-small);
	font-size: var(--font-size-large);
	border-radius: var(--border-radius-extra-small);
}
.button--size-medium {
	padding: calc(var(--spacing-extra-small) / 2) var(--spacing-extra-small);
	font-size: var(--font-size-medium);
	border-radius: var(--border-radius-extra-small);
}
.button--size-small {
	padding: calc(var(--spacing-extra-small) / 2) var(--spacing-extra-small);
	font-size: var(--font-size-small);
	border-radius: var(--border-radius-extra-small);
}
.button--size-x-small {
	padding: calc(var(--spacing-extra-small) / 4)
		calc(var(--spacing-extra-small) / 2);
	font-size: var(--font-size-extra-small);
	border-radius: calc(var(--border-radius-extra-small) / 2);
}

/*
	Button 유형
*/
.button--variant-primary {
	background-color: var(--color-primary);
	color: var(--color-text-white);
}
.button--variant-primary:hover,
.button--variant-primary:focus-visible,
.button--variant-primary:active {
	opacity: 0.6;
}
.button--variant-default {
	border: var(--border-solid-thin) var(--color-text);
}
.button--variant-default:hover,
.button--variant-default:focus-visible,
.button--variant-default:active {
	border: var(--border-solid-thin) var(--color-primary);
	color: var(--color-primary);
}
.button--variant-text:hover,
.button--variant-text:focus-visible,
.button--variant-text:active {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

/*
	Button danger
*/
.button--variant-primary.button--danger {
	background-color: var(--color-error);
	color: var(--color-text-white);
}
.button--variant-default.button--danger {
	border: var(--border-solid-thin) var(--color-error);
	color: var(--color-error);
}
.button--variant-default.button--danger:hover,
.button--variant-default.button--danger:focus-visible,
.button--variant-default.button--danger:active {
	opacity: 0.6;
}
.button--variant-text.button--danger {
	color: var(--color-error);
}
.button--variant-text.button--danger:hover,
.button--variant-text.button--danger:focus-visible,
.button--variant-text.button--danger:active {
	opacity: 0.6;
	color: var(--color-error);
}

/*
	Button 상태
*/
.button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}
.button--variant-primary:disabled {
	background-color: var(--color-secondary);
	border: var(--border-solid-thin) var(--color-secondary);
	color: var(--color-secondary);
}
.button--variant-default:disabled {
	background-color: var(--color-background);
	border: var(--border-solid-thin) var(--color-text);
	color: var(--color-text);
	opacity: 0.6;
}
.button--variant-primary:disabled:hover,
.button--variant-primary:disabled:focus-visible,
.button--variant-primary:disabled:active {
	opacity: initial;
	background-color: var(--color-secondary);
}
.button--variant-text:disabled:hover,
.button--variant-text:disabled:focus-visible,
.button--variant-text:disabled:active,
.button--variant-default:disabled:hover,
.button--variant-default:disabled:focus-visible,
.button--variant-default:disabled:active {
	opacity: initial;
	background-color: var(--color-background);
	opacity: 0.6;
}
.button--variant-text:disabled {
	color: var(--color-text);
	opacity: 0.6;
}
