/*
	Button 기본 스타일
*/
.button {
	text-align: center;
	border: none;
	cursor: pointer;
	outline: inherit;
	background-color: var(--color-background-default);
	color: var(--color-surface-on-default);
	box-sizing: border-box;
	font-weight: var(--font-weight-light);
	width: 100%;
	border: var(--border-solid-thin) transparent;
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

/*
	Button 크기
*/
.button--size-x-large {
	padding: calc(var(--spacing-medium) / 2) var(--spacing-medium);
	font-size: var(--font-size-extra-large);
	border-radius: var(--border-radius-extra-small);
}
.button--size-large {
	padding: calc(var(--spacing-small) / 2) var(--spacing-small);
	font-size: var(--font-size-large);
	border-radius: var(--border-radius-extra-small);
}
.button--size-medium {
	padding: calc(var(--spacing-extra-small) / 2) var(--spacing-extra-small);
	font-size: var(--font-size-medium);
	border-radius: var(--border-radius-extra-small);
}
.button--size-small {
	padding: calc(var(--spacing-extra-small) / 2) var(--spacing-extra-small);
	font-size: var(--font-size-small);
	border-radius: var(--border-radius-extra-small);
}
.button--size-x-small {
	padding: calc(var(--spacing-extra-small) / 4)
		calc(var(--spacing-extra-small) / 2);
	font-size: var(--font-size-extra-small);
	border-radius: calc(var(--border-radius-extra-small) / 2);
}

/*
	Button Variant - Primary, Text, Default
*/
.button--variant-primary {
	background-color: var(--color-primary-default);
	border-color: var(--color-primary-default);
	color: var(--color-primary-on-default);
}
.button--variant-primary:hover,
.button--variant-primary:focus-visible,
.button--variant-primary:active {
	background-color: var(--color-primary-container);
	border-color: var(--color-primary-container);
	color: var(--color-primary-on-container);
}
.button--variant-default {
	border-color: var(--color-primary-default);
	color: var(--color-primary-default);
}
.button--variant-default:hover,
.button--variant-default:focus-visible,
.button--variant-default:active {
	border-color: var(--color-primary-container);
	color: var(--color-primary-container);
}
.button--variant-text {
	border-color: var(--color-background-default);
	color: var(--color-background-on-default);
}
.button--variant-text:hover,
.button--variant-text:focus-visible,
.button--variant-text:active {
	border-color: var(--color-background-default);
	color: var(--color-primary-default);
}

/*
	Button Status - disabled, error
*/
.button--variant-primary.button--danger {
	background-color: var(--color-error-default);
	border-color: var(--color-error-default);
	color: var(--color-error-on-default);
}
.button--variant-primary.button--danger:hover,
.button--variant-primary.button--danger:focus-visible,
.button--variant-primary.button--danger:active {
	background-color: var(--color-error-container);
	border-color: var(--color-error-container);
	color: var(--color-error-on-container);
}
.button--variant-default.button--danger {
	background-color: var(--color-error-on-default);
	border-color: var(--color-error-default);
	color: var(--color-error-default);
}
.button--variant-default.button--danger:hover,
.button--variant-default.button--danger:focus-visible,
.button--variant-default.button--danger:active {
	background-color: var(--color-error-on-default);
	border-color: var(--color-error-on-container);
	color: var(--color-error-on-container);
}
.button--variant-text.button--danger {
	background-color: var(--color-error-on-default);
	border-color: var(--color-error-on-default);
	color: var(--color-error-default);
}
.button--variant-text.button--danger:hover,
.button--variant-text.button--danger:focus-visible,
.button--variant-text.button--danger:active {
	background-color: var(--color-error-on-default);
	border-color: var(--color-error-on-default);
	color: var(--color-error-on-container);
}

.button--variant-primary:disabled:hover,
.button--variant-primary:disabled:focus-visible,
.button--variant-primary:disabled:active {
	background-color: var(--color-primary-default);
	border-color: var(--color-primary-default);
	color: var(--color-primary-on-default);
}
.button--variant-default:disabled:hover,
.button--variant-default:disabled:focus-visible,
.button--variant-default:disabled:active {
	border-color: var(--color-surface-on-default);
	color: var(--color-surface-on-default);
}
.button--variant-text:disabled.button--danger:hover,
.button--variant-text:disabled.button--danger:focus-visible,
.button--variant-text:disabled.button--danger:active {
	background-color: var(--color-background-default);
	border-color: var(--color-background-default);
	color: var(--color-background-on-default);
}
