.form--font-size-x-large {
	font-size: var(--font-size-extra-large);
}
.form--font-size-large {
	font-size: var(--font-size-large);
}
.form--font-size-medium {
	font-size: var(--font-size-medium);
}
.form--font-size-small {
	font-size: var(--font-size-small);
}
.form--font-size-x-small {
	font-size: var(--font-size-extra-small);
}

.form--invalid {
	border-color: var(--color-error);
}
