.form__input {
	width: 100%;
	border-radius: var(--border-radius-extra-small);
	padding: calc(var(--spacing-extra-small) / 2) var(--spacing-extra-small);
	border: 2px solid var(--color-secondary);
	outline: none;
	box-sizing: border-box;
	font-family: inherit;
}

.form__input:focus-visible,
.form__input:active,
.form__input:hover {
	border-color: var(--color-primary);
}
