.typograph__heading1 {
	font: var(--text-size-2-extra-large);
	font-weight: var(--text-weight-bold);
}
.typograph__heading2 {
	font: var(--text-size-extra-large);
	font-weight: var(--text-weight-bold);
}
.typograph__heading3 {
	font: var(--text-size-large);
	font-weight: var(--text-weight-bold);
}
