h1.title {
	font: var(--text-size-2-extra-large);
	font-weight: var(--text-weight-bold);
}
h2.title {
	font: var(--text-size-extra-large);
	font-weight: var(--text-weight-bold);
}
h3.title {
	font: var(--text-size-large);
	font-weight: var(--text-weight-bold);
}
