.typograph.strong {
	font-weight: var(--text-weight-700);
}
.typograph.italic {
	font-style: italic;
}
.typograph.underline {
	text-decoration: underline;
}
.typograph.del {
	text-decoration: line-through;
}
.typograph.mark {
	background-color: var(--color-primary);
	border-radius: var(--border-radius-small);
}

h1.title {
	font: var(--text-size-2-extra-large);
	font-weight: var(--text-weight-bold);
}
h2.title {
	font: var(--text-size-extra-large);
	font-weight: var(--text-weight-bold);
}
h3.title {
	font: var(--text-size-large);
	font-weight: var(--text-weight-bold);
}

.title.primary {
	color: var(--color-primary);
}
.title.secondary {
	color: var(--color-secondary);
}
.title.accent {
	color: var(--color-accent);
}
.title.success {
	color: var(--color-success);
}
.title.warning {
	color: var(--color-warning);
}
.title.error {
	color: var(--color-error);
}
.title.text {
	color: var(--color-text);
}
