.typograph--color-primary {
	color: var(--color-primary);
}
.typograph--color-secondary {
	color: var(--color-secondary);
}
.typograph--color-accent {
	color: var(--color-accent);
}
.typograph--color-success {
	color: var(--color-success);
}
.typograph--color-warning {
	color: var(--color-warning);
}
.typograph--color-error {
	color: var(--color-error);
}
.typograph--color-default {
	color: var(--color-text);
}
.typograph--style-strong {
	font-weight: var(--text-weight-bold);
}
.typograph--style-italic {
	font-style: italic;
}
.typograph--style-underline {
	text-decoration: underline;
}
.typograph--style-del {
	text-decoration: line-through;
}
.typograph--style-mark {
	background-color: var(--color-primary);
	border-radius: var(--border-radius-extra-small);
	padding: 0 calc(var(--spacing-extra-small) / 2);
	color: var(--color-secondary);
}
