.typograph--color-primary {
	color: var(--color-primary-default);
}
.typograph--color-secondary {
	color: var(--color-secondary-default);
}
.typograph--color-tertiary {
	color: var(--color-tertiary-default);
}
.typograph--color-success {
	color: var(--color-success-default);
}
.typograph--color-warning {
	color: var(--color-warning-default);
}
.typograph--color-error {
	color: var(--color-error-default);
}
.typograph--color-default {
	color: var(--color-background-on-default);
}
.typograph--style-strong {
	font-weight: var(--font-weight-bold);
}
.typograph--style-italic {
	font-style: italic;
}
.typograph--style-underline {
	text-decoration: underline;
}
.typograph--style-del {
	text-decoration: line-through;
}
.typograph--style-mark {
	background-color: var(--color-primary-default);
	border-radius: var(--border-radius-extra-small);
	padding: 0 calc(var(--spacing-extra-small) / 2);
	color: var(--color-primary-on-default);
}
