.color-yellow-10 {
  color: #ffffe6;
}
.color-yellow-9 {
  color: #ffffcc;
}
.color-yellow-8 {
  color: #ffffb3;
}
.color-yellow-7 {
  color: #ffff99;
}
.color-yellow-6 {
  color: #ffff80;
}
.color-yellow-5 {
  color: #ffff66;
}
.color-yellow-4 {
  color: #ffff4d;
}
.color-yellow-3 {
  color: #ffff33;
}
.color-yellow-2 {
  color: #ffff1a;
}
.color-yellow-1 {
  color: #ffff00;
}
.color-green-10 {
  color: #e6ffe6;
}
.color-green-9 {
  color: #ccffcc;
}
.color-green-8 {
  color: #b3ffb3;
}
.color-green-7 {
  color: #99ff99;
}
.color-green-6 {
  color: #80ff80;
}
.color-green-5 {
  color: #66ff66;
}
.color-green-4 {
  color: #4dff4d;
}
.color-green-3 {
  color: #33ff33;
}
.color-green-2 {
  color: #1aff1a;
}
.color-green-1 {
  color: #00ff00;
}
.color-blue-10 {
  color: #e6e6ff;
}
.color-blue-9 {
  color: #ccccff;
}
.color-blue-8 {
  color: #b3b3ff;
}
.color-blue-7 {
  color: #9999ff;
}
.color-blue-6 {
  color: #8080ff;
}
.color-blue-5 {
  color: #6666ff;
}
.color-blue-4 {
  color: #4d4dff;
}
.color-blue-3 {
  color: #3333ff;
}
.color-blue-2 {
  color: #1a1aff;
}
.color-blue-1 {
  color: #0000ff;
}
.color-red-10 {
  color: #ffe6e6;
}
.color-red-9 {
  color: #ffcccc;
}
.color-red-8 {
  color: #ffb3b3;
}
.color-red-7 {
  color: #ff9999;
}
.color-red-6 {
  color: #ff8080;
}
.color-red-5 {
  color: #ff6666;
}
.color-red-4 {
  color: #ff4d4d;
}
.color-red-3 {
  color: #ff3333;
}
.color-red-2 {
  color: #ff1a1a;
}
.color-red-1 {
  color: #ff0000;
}
.color-black-10 {
  color: #e6e6e6;
}
.color-black-9 {
  color: #cccccc;
}
.color-black-8 {
  color: #b3b3b3;
}
.color-black-7 {
  color: #999999;
}
.color-black-6 {
  color: #808080;
}
.color-black-5 {
  color: #666666;
}
.color-black-4 {
  color: #4d4d4d;
}
.color-black-3 {
  color: #333333;
}
.color-black-2 {
  color: #1a1a1a;
}
.color-black-1 {
  color: #000000;
}
.color-black-white {
  color: #ffffff;
}
.font-size-xxl {
  font-size: 28px;
}
.font-size-xl {
  font-size: 24px;
}
.font-size-lg {
  font-size: 20px;
}
.font-size-md {
  font-size: 16px;
}
.font-size-sm {
  font-size: 12px;
}
.font-size-xs {
  font-size: 8px;
}
.font-weight-extra-black {
  font-weight: 950;
}
.font-weight-black {
  font-weight: 900;
}
.font-weight-extra-bold {
  font-weight: 800;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-extra-light {
  font-weight: 200;
}
.font-weight-thin {
  font-weight: 100;
}
.line-height-180 {
  line-height: 1.8;
}
.line-height-160 {
  line-height: 1.6;
}
.line-height-140 {
  line-height: 1.4;
}
.line-height-120 {
  line-height: 1.2;
}
.spacing-8x-10 {
  margin: 72px;
}
.spacing-8x-9 {
  margin: 72px;
}
.spacing-8x-8 {
  margin: 64px;
}
.spacing-8x-7 {
  margin: 56px;
}
.spacing-8x-6 {
  margin: 48px;
}
.spacing-8x-5 {
  margin: 40px;
}
.spacing-8x-4 {
  margin: 32px;
}
.spacing-8x-3 {
  margin: 24px;
}
.spacing-8x-2 {
  margin: 16px;
}
.spacing-8x-1 {
  margin: 8px;
}
.box-shadow-top-left-high {
  box-shadow: -50px -50px 80px -3px;
}
.box-shadow-top-left-medium {
  box-shadow: -10px -10px 15px -3px;
}
.box-shadow-top-left-low {
  box-shadow: -2px -2px 3px -3px;
}
.box-shadow-top-right-high {
  box-shadow: 50px -50px 80px -3px;
}
.box-shadow-top-right-medium {
  box-shadow: 10px -10px 15px -3px;
}
.box-shadow-top-right-low {
  box-shadow: 2px -2px 3px -3px;
}
.box-shadow-bottom-left-high {
  box-shadow: -50px 50px 80px -3px;
}
.box-shadow-bottom-left-medium {
  box-shadow: -10px 10px 15px -3px;
}
.box-shadow-bottom-left-low {
  box-shadow: -2px -2px 3px -3px;
}
.box-shadow-bottom-right-high {
  box-shadow: 50px 50px 80px -3px;
}
.box-shadow-bottom-right-medium {
  box-shadow: 10px 10px 15px -3px;
}
.box-shadow-bottom-right-low {
  box-shadow: 2px 2px 3px -3px;
}
