:root {
  --color-white: #ffffff;

  --color-black-1: #000000;

  --color-black-2: #1a1a1a;

  --color-black-3: #333333;

  --color-black-4: #4d4d4d;

  --color-black-5: #666666;

  --color-black-6: #808080;

  --color-black-7: #999999;

  --color-black-8: #b3b3b3;

  --color-black-9: #cccccc;

  --color-black-10: #e6e6e6;

  --color-red-1: #ff0000;

  --color-red-2: #ff1a1a;

  --color-red-3: #ff3333;

  --color-red-4: #ff4d4d;

  --color-red-5: #ff6666;

  --color-red-6: #ff8080;

  --color-red-7: #ff9999;

  --color-red-8: #ffb3b3;

  --color-red-9: #ffcccc;

  --color-red-10: #ffe6e6;

  --color-blue-1: #0000ff;

  --color-blue-2: #1a1aff;

  --color-blue-3: #3333ff;

  --color-blue-4: #4d4dff;

  --color-blue-5: #6666ff;

  --color-blue-6: #8080ff;

  --color-blue-7: #9999ff;

  --color-blue-8: #b3b3ff;

  --color-blue-9: #ccccff;

  --color-blue-10: #e6e6ff;

  --color-green-1: #00ff00;

  --color-green-2: #1aff1a;

  --color-green-3: #33ff33;

  --color-green-4: #4dff4d;

  --color-green-5: #66ff66;

  --color-green-6: #80ff80;

  --color-green-7: #99ff99;

  --color-green-8: #b3ffb3;

  --color-green-9: #ccffcc;

  --color-green-10: #e6ffe6;

  --color-yellow-1: #ffff00;

  --color-yellow-2: #ffff1a;

  --color-yellow-3: #ffff33;

  --color-yellow-4: #ffff4d;

  --color-yellow-5: #ffff66;

  --color-yellow-6: #ffff80;

  --color-yellow-7: #ffff99;

  --color-yellow-8: #ffffb3;

  --color-yellow-9: #ffffcc;

  --color-yellow-10: #ffffe6;

  --font-size-4x-1: 8px;

  --font-size-4x-2: 12px;

  --font-size-4x-3: 16px;

  --font-size-4x-4: 20px;

  --font-size-4x-5: 24px;

  --font-size-4x-6: 28px;

  --font-size-4x-7: 32px;

  --font-size-4x-8: 36px;

  --font-size-4x-9: 40px;

  --font-size-4x-10: 44px;

  --font-weight-100: 100;

  --font-weight-200: 200;

  --font-weight-300: 300;

  --font-weight-400: 400;

  --font-weight-500: 500;

  --font-weight-600: 600;

  --font-weight-700: 700;

  --font-weight-800: 800;

  --font-weight-900: 900;

  --font-weight-950: 950;

  --line-height-120: 1.2;

  --line-height-140: 1.4;

  --line-height-160: 1.6;

  --line-height-180: 1.8;

  --font-family-default: "Roboto", Arial, sans-serif;

  --spacing-4x-1: 4px;

  --spacing-4x-2: 8px;

  --spacing-4x-3: 12px;

  --spacing-4x-4: 16px;

  --spacing-4x-5: 20px;

  --spacing-4x-6: 24px;

  --spacing-4x-7: 28px;

  --spacing-4x-8: 32px;

  --spacing-4x-9: 36px;

  --spacing-4x-10: 40px;

  --spacing-8x-1: 8px;

  --spacing-8x-2: 16px;

  --spacing-8x-3: 24px;

  --spacing-8x-4: 32px;

  --spacing-8x-5: 40px;

  --spacing-8x-6: 48px;

  --spacing-8x-7: 56px;

  --spacing-8x-8: 64px;

  --spacing-8x-9: 72px;

  --spacing-8x-10: 72px;

  --box-shadow-low-bottom-right: 2px 2px 3px -3px;

  --box-shadow-low-top-right: 2px -2px 3px -3px;

  --box-shadow-low-bottom-left: -2px 2px 3px -3px;

  --box-shadow-low-top-left: -2px -2px 3px -3px;

  --box-shadow-medium-bottom-right: 10px 10px 15px -3px;

  --box-shadow-medium-top-right: 10px -10px 15px -3px;

  --box-shadow-medium-bottom-left: -10px 10px 15px -3px;

  --box-shadow-medium-top-left: -10px -10px 15px -3px;

  --box-shadow-high-bottom-right: 50px 50px 80px -3px;

  --box-shadow-high-top-right: 50px -50px 80px -3px;

  --box-shadow-high-bottom-left: -50px 50px 80px -3px;

  --box-shadow-high-top-left: -50px -50px 80px -3px;

  --border-radius-4x-1: 4px;

  --border-radius-4x-2: 8px;

  --border-radius-4x-3: 16px;

  --border-radius-4x-4: 20px;

  --border-radius-4x-5: 24px;

  --border-radius-4x-6: 28px;

  --border-radius-4x-7: 32px;

  --border-radius-4x-8: 36px;

  --border-radius-4x-9: 40px;

  --border-radius-4x-10: 44px;

  --border-radius-full: 100%;

  --border-style-none: none;

  --border-style-hidden: hidden;

  --border-style-dotted: dotted;

  --border-style-dashed: dashed;

  --border-style-solid: solid;

  --border-style-double: double;

  --border-style-groove: groove;

  --border-style-ridge: ridge;

  --border-style-inset: inset;

  --border-style-outset: outset;

  --border-width-1x-1: 1px;

  --border-width-1x-2: 2px;

  --border-width-1x-3: 3px;

  --border-width-1x-4: 4px;

  --border-width-1x-5: 5px;

  --border-width-1x-6: 6px;

  --border-width-1x-7: 7px;

  --border-width-1x-8: 8px;

  --border-width-1x-9: 9px;

  --border-width-1x-10: 10px;

  --breakpoint-mobile-portrait-min-width: 575px;

  --breakpoint-mobile-landscape-min-width: 576px;

  --breakpoint-mobile-landscape-max-width: 767px;

  --breakpoint-tablet-min-width: 768px;

  --breakpoint-tablet-max-width: 991px;

  --breakpoint-desktop-min-width: 992px;

  --breakpoint-desktop-max-width: 1199px;

  --breakpoint-desktop-large-min-width: 1200px;
}
