:root {
  --color-white: #ffffff;

  --color-vintage-blue: #102c57;

  --color-vintage-orange: #f97300;

  --color-vintage-purple: #32012f;

  --color-vintage-black-1: #000000;

  --color-vintage-black-2: #171615;

  --color-vintage-black-3: #2d2d2a;

  --color-vintage-black-4: #44433e;

  --color-vintage-black-5: #5a5953;

  --color-vintage-black-6: #717068;

  --color-vintage-black-7: #88867d;

  --color-vintage-black-8: #9e9c92;

  --color-vintage-black-9: #b5b2a6;

  --color-vintage-black-10: #cbc9bb;

  --color-vintage-black-11: #e2dfd0;

  --color-vintage-red: #cd1818;

  --color-vintage-yellow: #e9b824;

  --font-size-4x-1: 8px;

  --font-size-4x-2: 12px;

  --font-size-4x-3: 16px;

  --font-size-4x-4: 20px;

  --font-size-4x-5: 24px;

  --font-size-4x-6: 28px;

  --font-size-4x-7: 32px;

  --font-size-4x-8: 36px;

  --font-size-4x-9: 40px;

  --font-size-4x-10: 44px;

  --font-weight-100: 100;

  --font-weight-200: 200;

  --font-weight-300: 300;

  --font-weight-400: 400;

  --font-weight-500: 500;

  --font-weight-600: 600;

  --font-weight-700: 700;

  --font-weight-800: 800;

  --font-weight-900: 900;

  --font-weight-950: 950;

  --line-height-120: 1.2;

  --line-height-140: 1.4;

  --line-height-160: 1.6;

  --line-height-180: 1.8;

  --font-family-default: "Roboto", Arial, sans-serif;

  --spacing-4x-1: 4px;

  --spacing-4x-2: 8px;

  --spacing-4x-3: 12px;

  --spacing-4x-4: 16px;

  --spacing-4x-5: 20px;

  --spacing-4x-6: 24px;

  --spacing-4x-7: 28px;

  --spacing-4x-8: 32px;

  --spacing-4x-9: 36px;

  --spacing-4x-10: 40px;

  --spacing-8x-1: 8px;

  --spacing-8x-2: 16px;

  --spacing-8x-3: 24px;

  --spacing-8x-4: 32px;

  --spacing-8x-5: 40px;

  --spacing-8x-6: 48px;

  --spacing-8x-7: 56px;

  --spacing-8x-8: 64px;

  --spacing-8x-9: 72px;

  --spacing-8x-10: 72px;

  --box-shadow-low-bottom-right: 2px 2px 3px -3px;

  --box-shadow-low-top-right: 2px -2px 3px -3px;

  --box-shadow-low-bottom-left: -2px 2px 3px -3px;

  --box-shadow-low-top-left: -2px -2px 3px -3px;

  --box-shadow-medium-bottom-right: 10px 10px 15px -3px;

  --box-shadow-medium-top-right: 10px -10px 15px -3px;

  --box-shadow-medium-bottom-left: -10px 10px 15px -3px;

  --box-shadow-medium-top-left: -10px -10px 15px -3px;

  --box-shadow-high-bottom-right: 50px 50px 80px -3px;

  --box-shadow-high-top-right: 50px -50px 80px -3px;

  --box-shadow-high-bottom-left: -50px 50px 80px -3px;

  --box-shadow-high-top-left: -50px -50px 80px -3px;

  --border-radius-4x-1: 4px;

  --border-radius-4x-2: 8px;

  --border-radius-4x-3: 16px;

  --border-radius-4x-4: 20px;

  --border-radius-4x-5: 24px;

  --border-radius-4x-6: 28px;

  --border-radius-4x-7: 32px;

  --border-radius-4x-8: 36px;

  --border-radius-4x-9: 40px;

  --border-radius-4x-10: 44px;

  --border-radius-full: 100%;

  --border-style-none: none;

  --border-style-hidden: hidden;

  --border-style-dotted: dotted;

  --border-style-dashed: dashed;

  --border-style-solid: solid;

  --border-style-double: double;

  --border-style-groove: groove;

  --border-style-ridge: ridge;

  --border-style-inset: inset;

  --border-style-outset: outset;

  --border-width-1x-1: 1px;

  --border-width-1x-2: 2px;

  --border-width-1x-3: 3px;

  --border-width-1x-4: 4px;

  --border-width-1x-5: 5px;

  --border-width-1x-6: 6px;

  --border-width-1x-7: 7px;

  --border-width-1x-8: 8px;

  --border-width-1x-9: 9px;

  --border-width-1x-10: 10px;

  --breakpoint-mobile-portrait-min-width: 575px;

  --breakpoint-mobile-landscape-min-width: 576px;

  --breakpoint-mobile-landscape-max-width: 767px;

  --breakpoint-tablet-min-width: 768px;

  --breakpoint-tablet-max-width: 991px;

  --breakpoint-desktop-min-width: 992px;

  --breakpoint-desktop-max-width: 1199px;

  --breakpoint-desktop-large-min-width: 1200px;
}
